---
title: Welcome to BAIC
body_class: index
---


.home_image
  = image_tag 'home.jpg'
  
.container

  .hero-unit
    %h1= lorem.words 3
    %p= lorem.words 50
    


  .row
    .span4
      %p= image_tag lorem.image('300x200')
      %h2=lorem.word.humanize
      %p=lorem.paragraph

    .span4
      %p= image_tag lorem.image('300x200')
      %h2=lorem.word.humanize
      %p=lorem.paragraph

    .span4
      %p= image_tag lorem.image('300x200')
      %h2=lorem.word.humanize
      %p=lorem.paragraph
    


 