---
title: Senova
body_class: index
---


.hero-unit
  %h1 Senova
  %p= image_tag lorem.image('1800x500')
  %p= lorem.paragraph

.container

  - %w[infos indicators characteristics dealers].each do |p|
    %a{:name => p}
    .row
      .span12
        %h1= I18n.t("nav.vehicles.senova.#{p}").humanize
        %p=image_tag lorem.image('1200x400')
    .row
      .span6
        %h3= "#{lorem.words(5).humanize}."
        %p= lorem.paragraph
        %p= lorem.paragraph
      .span6
        %h3= "#{lorem.words(5).humanize}."
        %p= lorem.paragraph
        %p= lorem.paragraph
    %hr